<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beckhoff.TwinCAT.Ads" version="6.2.521" targetFramework="net48" />
  <package id="Beckhoff.TwinCAT.Ads.Abstractions" version="6.2.521" targetFramework="net48" />
  <package id="Beckhoff.TwinCAT.Ads.ConfigurationProviders" version="6.2.521" targetFramework="net48" />
  <package id="Beckhoff.TwinCAT.Ads.Server" version="6.2.521" targetFramework="net48" />
  <package id="ILRepack.Lib.MSBuild.Task" version="2.0.44.1" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.0" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="17.14.40254" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Interop" version="17.14.40260" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.CommandLine" version="2.0.0" targetFramework="net48" />
  <package id="System.ComponentModel.Composition" version="10.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.EventLog" version="10.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Reactive" version="7.0.0-preview.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.ServiceProcess.ServiceController" version="10.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="10.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
</packages>